* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
body {
	background-color: #fbf9fe
}
.eclipsis {
	overflow: hidden; 
	text-overflow: ellipsis;  
	white-space: nowrap;
}